In [6]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd
from numpy import inf
import csv
from numpy import genfromtxt
#to get the name 
import glob
import os

# 根据已经有的adj matrix，计算individual reciprocity

In [88]:
#test for one individual reciprocity

test_path='/Users/yoga/Documents/Projects/4 合作项目 腐败 economic corruption/68_update for 20220429/adj_matrix by month/22adjmatrix_2016-05.csv'
data=pd.read_csv(test_path,index_col=0)
name=data.columns.to_list()
adj_s1 = data.to_numpy() #adjacent matrix

#creat weighted edges from matrix
weighted_edge_list=[]
for i in range(len(name)):
#     print(i)
    for j in range(len(name)):
        if adj_s1[i,j]!=0:
            edgeij=(name[i],name[j],adj_s1[i,j])
            weighted_edge_list.append(edgeij)
            
#create graph

# Create a directed graph (DiGraph) using NetworkX
G = nx.DiGraph()

# Add weighted edges to the graph
G.add_weighted_edges_from(weighted_edge_list)

# Calculate reciprocity for each individual node
node2reciprocity={}
for node in G.nodes():
#     print(node)
    out_edges = set(G.successors(node))
    in_edges = set(G.predecessors(node))
    reciprocal_edges = out_edges.intersection(in_edges)
    total_out_edges = len(out_edges)
    if total_out_edges > 0:
        reciprocity = len(reciprocal_edges) / total_out_edges
    else:
        reciprocity = 0
    print(f"Reciprocity for  {node}: {reciprocity}")
    
    node2reciprocity[node]=reciprocity

#put dictionary into a dataframe
pd_node2reciprocity = pd.DataFrame(list(node2reciprocity.items()), columns=['people involving in email', 'reciprocity'])

pd_node2reciprocity['time']=''

time = '2016-05'
pd_node2reciprocity['time']=time

Reciprocity for  johndailey: 1.0
Reciprocity for  nancymiller: 1.0
Reciprocity for  gilziffer: 0.0
Reciprocity for  scottmaddox: 0

In [89]:
pd_node2reciprocity

  people involving in email  reciprocity     time
0                johndailey          1.0  2016-05
1               nancymiller          1.0  2016-05
2                 gilziffer          0.0  2016-05
3               scottmaddox          0.0  2016-05

In [113]:
#calculate for all node reciprocity for all month
#尝试计算reciprocity
#已经确认 adj matrix 是不对称的，是有方向的
adj_folder = r'/Users/yoga/Documents/Projects/4 合作项目 腐败 economic corruption/68_update for 20220429/adj_matrix by month'
all_files = glob.glob(adj_folder + "/*.csv")
outdir = '/Users/yoga/Documents/Projects/4 合作项目 腐败 economic corruption/65_update_the graph_of_joey_and_yijia_in_paper_202206/1_yijia_small netework data/individual_recipricity_20230606'

try:
    os.makedirs(outdir)
except FileExistsError:
    # directory already exists
    pass

ind=0

whole_network=[]

for file in all_files:
#     if ind>0:
#         break
    tmp = file.split('/')
    time = tmp[-1].replace('.csv','').split('_')[-1]
    ind=ind+1
    
    print(ind,':',time)
   
    data=pd.read_csv(file,index_col=0)
    name=data.columns.to_list()
    adj_s1 = data.to_numpy() #adjacent matrix

    #creat weighted edges from matrix
    weighted_edge_list=[]
    for i in range(len(name)):
    #     print(i)
        for j in range(len(name)):
            if (i!=j)& (adj_s1[i,j]!=0):
                edgeij=(name[i],name[j],adj_s1[i,j])
                weighted_edge_list.append(edgeij)

    #create graph

    # Create a directed graph (DiGraph) using NetworkX
    G = nx.DiGraph()

    # Add weighted edges to the graph
    G.add_weighted_edges_from(weighted_edge_list)

    # Calculate reciprocity for each individual node
    node2reciprocity={}
    for node in G.nodes():
    #     print(node)
        out_edges = set(G.successors(node))
        in_edges = set(G.predecessors(node))
        reciprocal_edges = out_edges.intersection(in_edges)
        total_out_edges = len(out_edges)
        if total_out_edges > 0:
            reciprocity = len(reciprocal_edges) / total_out_edges
        else:
            reciprocity = 0
        print(f"Reciprocity for  {node}: {reciprocity}")

        node2reciprocity[node]=reciprocity

    #put dictionary into a dataframe
    pd_node2reciprocity = pd.DataFrame(list(node2reciprocity.items()), columns=['people involving in email', 'reciprocity'])

    pd_node2reciprocity['time']=''

    pd_node2reciprocity['time']=time
    
    whole_network.append(pd_node2reciprocity)

1 : 2016-10
2 : 2013-09
Reciprocity for  scottmaddox: 0.25
Reciprocity for  andrewgillum: 0
Reciprocity for  gilziffer: 1.0
Reciprocity for  nancymiller: 0
Reciprocity for  johnmarks: 0
3 : 2016-08
4 : 2013-07
Reciprocity for  scottmaddox: 1.0
Reciprocity for  nancymiller: 0.25
Reciprocity for  andrewgillum: 0
Reciprocity for  gilziffer: 0
Reciprocity for  johnmarks: 0
5 : 2015-12
Reciprocity for  bryandesloge: 0.0
Reciprocity for  scottmaddox: 0
Reciprocity for  andrewgillum: 0
Reciprocity for  gilziffer: 0
6 : 2014-03
Reciprocity for  billproctor: 0.0
Reciprocity for  johndailey: 0
Reciprocity for  bryandesloge: 0
Reciprocity for  janesauls: 0
Reciprocity for  nickmaddox: 0
Reciprocity for  kristindozer: 0
Reciprocity for  scottmaddox: 0
Reciprocity for  andrewgillum: 0
Reciprocity for  gilziffer: 0
Reciprocity for  nancymiller: 0.0
7 : 2013-03
Reciprocity for  scottmaddox: 1.0
Reciprocity for  gilziffer: 1.0
8 : 2015-08
9 : 2013-11
Reciprocity for  lindleymary: 0.0
Reciprocity for  johndailey: 0
Reciprocity for  bryandesloge: 0
Reciprocity for  janesauls: 0
Reciprocity for  nickmaddox: 0
Reciprocity for  kristindozer: 0
Reciprocity for  billproctor: 0
Reciprocity for  scottmaddox: 0
Reciprocity for  andrewgillum: 0
Reciprocity for  gilziffer: 0.3333333333333333
Reciprocity for  nancymiller: 0
Reciprocity for  johnmarks: 0.3333333333333333
10 : 2012-05
Reciprocity for  andrewgillum: 0.0
Reciprocity for  scottmaddox: 0
11 : 2016-01
Reciprocity for  scottmaddox: 0.0
Reciprocity for  bryandesloge: 0
Reciprocity for  andrewgillum: 0.0
Reciprocity for  johndailey: 0
Reciprocity for  kristindozer: 0
12 : 2016-04
13 : 2013-10
Reciprocity for  lindleymary: 0.0
Reciprocity for  johndailey: 0
Reciprocity for  bryandesloge: 0
Reciprocity for  janesauls: 0
Reciprocity for  nickmaddox: 0
Reciprocity for  kristindozer: 0
Reciprocity for  billproctor: 0
Reciprocity for  scottmaddox: 0
Reciprocity for  andrewgillum: 0
Reciprocity for  gilziffer: 0.2
Reciprocity for  nancymiller: 0.5
Reciprocity for  johnmarks: 0.1
14 : 2013-08
Reciprocity for  gilziffer: 0.5
Reciprocity for  bryandesloge: 0
Reciprocity for  nancymiller: 0.5
15 : 2014-09
16 : 2013-02
Reciprocity for  andrewgillum: 0.0
Reciprocity for  scottmaddox: 0
17 : 2012-06
Reciprocity for  scottmaddox: 0.0
Reciprocity for  bryandesloge: 0
18 : 2014-04
19 : 2013-12
20 : 2016-06
Reciprocity for  nancymiller: 0.0
Reciprocity for  johndailey: 0
Reciprocity for  bryandesloge: 0
Reciprocity for  scottmaddox: 0
21 : 2012-11
Reciprocity for  bryandesloge: 0.0
Reciprocity for  nancymiller: 0
Reciprocity for  gilziffer: 0.0
Reciprocity for  scottmaddox: 0
22 : 2014-05
Reciprocity for  gilziffer: 0.0
Reciprocity for  scottmaddox: 0
23 : 2015-07
Reciprocity for  curtisrichardson: 0.0
Reciprocity for  scottmaddox: 0
Reciprocity for  andrewgillum: 0
Reciprocity for  gilziffer: 0
Reciprocity for  nancymiller: 0
Reciprocity for  johnmarks: 0
24 : 2013-01
Reciprocity for  billproctor: 0.0
Reciprocity for  scottmaddox: 0.5
Reciprocity for  andrewgillum: 1.0
Reciprocity for  gilziffer: 0.5
Reciprocity for  nancymiller: 0.5
Reciprocity for  johnmarks: 0
Reciprocity for  bryandesloge: 0
25 : 2013-04
Reciprocity for  nickmaddox: 0.5
Reciprocity for  kristindozer: 0.75
Reciprocity for  scottmaddox: 0.75
Reciprocity for  lindleymary: 0.0
Reciprocity for  bryandesloge: 0
Reciprocity for  andrewgillum: 0.5
Reciprocity for  gilziffer: 0.5
Reciprocity for  billproctor: 0
Reciprocity for  nancymiller: 1.0
26 : 2015-03
Reciprocity for  andrewgillum: 0.0
Reciprocity for  bryandesloge: 0
Reciprocity for  kristindozer: 0
27 : 2014-08
28 : 2012-07
Reciprocity for  bryandesloge: 0.0
Reciprocity for  gilziffer: 0
Reciprocity for  nancymiller: 0
Reciprocity for  scottmaddox: 0.0
Reciprocity for  andrewgillum: 0.0
29 : 2012-12
Reciprocity for  scottmaddox: 0.0
Reciprocity for  andrewgillum: 0
Reciprocity for  nancymiller: 0.0
Reciprocity for  gilziffer: 0
30 : 2015-01
Reciprocity for  andrewgillum: 0.0
Reciprocity for  scottmaddox: 0
Reciprocity for  gilziffer: 0
Reciprocity for  curtisrichardson: 0
Reciprocity for  nancymiller: 0.0
31 : 2013-05
Reciprocity for  bryandesloge: 0.5
Reciprocity for  gilziffer: 1.0
Reciprocity for  nancymiller: 0.6666666666666666
Reciprocity for  billproctor: 0.0
Reciprocity for  johndailey: 0
Reciprocity for  janesauls: 0
Reciprocity for  nickmaddox: 0
Reciprocity for  kristindozer: 0
Reciprocity for  scottmaddox: 1.0
Reciprocity for  andrewgillum: 0.5
Reciprocity for  johnmarks: 0.75
32 : 2014-01
Reciprocity for  scottmaddox: 0.0
Reciprocity for  nickmaddox: 0
33 : 2015-11
Reciprocity for  gilziffer: 0.0
Reciprocity for  nancymiller: 0
34 : 2015-06
Reciprocity for  andrewgillum: 0.0
Reciprocity for  johndailey: 0
Reciprocity for  bryandesloge: 0
Reciprocity for  kristindozer: 0
Reciprocity for  scottmaddox: 0
Reciprocity for  gilziffer: 0
Reciprocity for  curtisrichardson: 0
Reciprocity for  nancymiller: 0
35 : 2013-06
Reciprocity for  bryandesloge: 1.0
Reciprocity for  gilziffer: 1.0
Reciprocity for  nancymiller: 0.6
Reciprocity for  scottmaddox: 0.25
Reciprocity for  andrewgillum: 0
Reciprocity for  johnmarks: 0
36 : 2014-10
37 : 2014-02
38 : 2016-05
Reciprocity for  johndailey: 1.0
Reciprocity for  nancymiller: 1.0
Reciprocity for  gilziffer: 0.0
Reciprocity for  scottmaddox: 0

In [114]:
pd_all_reciprocity=pd.concat(whole_network)

In [115]:
pd_all_reciprocity=pd_all_reciprocity.sort_values(by='time')

In [116]:
pd_all_reciprocity

   people involving in email  reciprocity     time
0               andrewgillum          0.0  2012-05
1                scottmaddox          0.0  2012-05
0                scottmaddox          0.0  2012-06
1               bryandesloge          0.0  2012-06
3                scottmaddox          0.0  2012-07
..                       ...          ...      ...
3                scottmaddox          0.0  2016-05
0                nancymiller          0.0  2016-06
1                 johndailey          0.0  2016-06
2               bryandesloge          0.0  2016-06
3                scottmaddox          0.0  2016-06

[146 rows x 3 columns]

In [117]:
pd_all_reciprocity['time'].nunique()

28

In [120]:
#create a continuous dataframe and merge

import pandas as pd
from itertools import product

# Define the list of people names
people_list = name

# Define the list of months from "2012-05" to "2014-04"
start_month = pd.to_datetime('2012-05', format='%Y-%m')
end_month = pd.to_datetime('2016-06', format='%Y-%m')
months_list = pd.date_range(start_month, end_month, freq='M').strftime('%Y-%m').tolist()

# Create a list of all combinations of people and months
combinations = list(product(people_list, months_list))

# Create a DataFrame from the combinations
df = pd.DataFrame(combinations, columns=['people', 'time'])

In [121]:
df=df.sort_values(by='time')
df

               people     time
0          johndailey  2012-05
441       markmustian  2012-05
392      andrewgillum  2012-05
343       scottmaddox  2012-05
539  curtisrichardson  2012-05
..                ...      ...
146         janesauls  2016-05
97       bryandesloge  2016-05
48         johndailey  2016-05
636       nancymiller  2016-05
685         johnmarks  2016-05

[686 rows x 2 columns]

In [122]:
pd_all_reciprocity

   people involving in email  reciprocity     time
0               andrewgillum          0.0  2012-05
1                scottmaddox          0.0  2012-05
0                scottmaddox          0.0  2012-06
1               bryandesloge          0.0  2012-06
3                scottmaddox          0.0  2012-07
..                       ...          ...      ...
3                scottmaddox          0.0  2016-05
0                nancymiller          0.0  2016-06
1                 johndailey          0.0  2016-06
2               bryandesloge          0.0  2016-06
3                scottmaddox          0.0  2016-06

[146 rows x 3 columns]

In [123]:
df_continuous_reciprocity=df.merge(pd_all_reciprocity,left_on=['people','time'],
                                   right_on=['people involving in email','time'],how='left')

In [124]:
df_continuous_reciprocity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686 entries, 0 to 685
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   people                     686 non-null    object
 1   time                       686 non-null    object
 2   people involving in email  142 non-null    object
 3   reciprocity                142 non-null    float64
dtypes: float64(1), object(3)
memory usage: 26.8+ KB

In [126]:
df_continuous_reciprocity

               people     time people involving in email  reciprocity
0          johndailey  2012-05                       NaN          NaN
1         markmustian  2012-05                       NaN          NaN
2        andrewgillum  2012-05              andrewgillum          0.0
3         scottmaddox  2012-05               scottmaddox          0.0
4    curtisrichardson  2012-05                       NaN          NaN
..                ...      ...                       ...          ...
681         janesauls  2016-05                       NaN          NaN
682      bryandesloge  2016-05                       NaN          NaN
683        johndailey  2016-05                johndailey          1.0
684       nancymiller  2016-05               nancymiller          1.0
685         johnmarks  2016-05                       NaN          NaN

[686 rows x 4 columns]

In [127]:
# df_continuous_reciprocity.to_csv('individual reciprocity from 2012-05 to 2016-05.csv',index=0)

In [128]:
pwd

'/Users/yoga/Documents/Projects/4 合作项目 腐败 economic corruption/65_update_the graph_of_joey_and_yijia_in_paper_202206/1_yijia_small netework data'